body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #121212;
  color: #e0e0e0;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  z-index: -1;
}

.container {
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

canvas {
  border: 1px solid #333;
  background-color: #222;
  cursor: crosshair;
  border-radius: 5px;
}

.button-group {
  margin-top: 20px;
}

button {
  background-color: #0e181a; /* Updated button color */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2d393a; /* Updated darker button color */
}

footer {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
}

footer p {
  margin: 0;
}

footer a {
  color: #00bcd4; /* Color for footer link */
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Dropdown styles */
.dropdown {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}

.dropbtn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 18px;
}

.line {
  background-color: #e0e0e0; /* Line color */
  height: 3px;
  width: 100%;
  border-radius: 2px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #333;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.dropdown-content a {
  color: #e0e0e0;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #575757;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .hamburger-icon .line {
  background-color: #e0e0e0; /* Line color on hover */
}
